<panel title="Pedido sem limite" linkback="#/home" type="form">
    <form class="form-inline">
        <div class="row line-row-filtro">
            <!-- 
			<select ng-model="selectedGNV" ng-options="item in listaGNV" ng-change="update()"></select>
			<select ng-model="me.myChoice" ng-options="item in listaGNV"></select>
			<select ng-model="key" ng-options="key as key for (key, val) in listaGNV" ng-change="update()"></select>
			 -->
            <div class="col-md-2">
                <div class="form-group">
                    <label>GNV:</label>
                    <select class="dropdown-alpa" ng-model="selectedGNV" ng-options="item.code for item in listaGNV"></select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>GRV:</label>
                    <select class="dropdown-alpa" ng-disabled="selectedGNV==''" ng-model="selectedGRV" ng-options="item.code for item in listaGRV"></select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Zona:</label>
                    <select class="dropdown-alpa" ng-disabled="selectedGRV==''" ng-model="selectedZONA" ng-options="item.code for item in listaZONA"></select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Cliente:</label>
                    <select class="dropdown-alpa" ng-disabled="selectedZONA==''" ng-model="selectedCLIENTE" ng-options="item.code for item in listaCLIENTE"></select>
                </div>
            </div>
        </div>
        <div class="row" uib-collapse="!selectedCLIENTE">
       <!--  <div class="row"> -->
            <div class="col-md-2">
            	<img ng-if="selectedProduct" class="img-responsive img-produto" src="/view/images/{{selectedProduct.foto}}">
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Name</label>
                            <div class="btn-group form-control" uib-dropdown is-open="status.isopen">
                                <button id="single-button" type="button" class="btn-dropdown" uib-dropdown-toggle ng-disabled="disabled">
                                    {{selectedProduct.name}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                    <li role="menuitem" ng-repeat="product in products" ng-click="selectProduct(product.code)">{{product.name}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="code">Código</label>
                            <input type="text" class="form-control" disabled value="{{selectedProduct.code}}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Valor</label>
                            <input type="text" class="form-control" disabled value="{{selectedProduct.valor}}">
                        </div>
                    </div>
                </div>
                <div class="row" uib-collapse="!selectedCLIENTE"> 
<!--                 <div class="row"> -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="selected-info" ng-show="selectedProduct.cotaLivre">Cota Livre</label>
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>GNV</label>
                            <input ng-class="{'selected-info': selectedProduct.tipoBloqueio == 'gnv'}" type="text" class="form-control" disabled value="{{selectedProduct.gnv}}">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>GRV</label>
                            <input ng-class="{'selected-info': selectedProduct.tipoBloqueio == 'grv'}" type="text" class="form-control" disabled value="{{selectedProduct.grv}}">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Zona</label>
                            <input ng-class="{'selected-info': selectedProduct.tipoBloqueio == 'zona'}" type="text" class="form-control" disabled value="{{selectedProduct.zona}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
     <div class="table-products" ng-show="selectedCLIENTE"> 
    <!-- <div class="table-products"> -->
        <div class="product-header">
            <span>Cor</span>
            <span ng-repeat="tamanho in tamanhos">Tam: {{tamanho}}</span>
        </div>
        <!--  <div class="product" ng-repeat="opcao in selectedProduct.opcoes"> -->
        <div class="product" ng-repeat="cor in cores">
            <span>
	            	<span style="background-color: #{{cor}}" class="show-color">{{cor}}</span>
            </span>
            <span ng-repeat="tamanho in tamanhos">
	            	<input class="input-sizes" type="number" min="0" ng-max="666"  maxlength="6" ng-change="onChange()" ng-model="itemPedido[cor][tamanho].value">
	            </span>
        </div>
        <div class="product-footer">
            <span>Total: {{totalTamanhos}}</span>
            <span ng-repeat="tamanho in tamanhos"></span>
        </div>
    </div>
    <div class="actions">
        <button type="button" class="btn btn-primary" ng-click="addItem()"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</button>
    </div>
    <div class="pedidos" ng-show="itensPedido.length">
        <h3>Itens Carrinho:</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Material</th>
                    <th>Nome</th>
                    <th>Cor</th>
                    <th>Grade</th>
                    <th>Tamanho</th>
                    <th>Qnt</th>
                    <th>Data disponível</th>
                    <th>Preço unit.</th>
                    <th>Preço Total</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>R$ {{totalValorPedido}}</td>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-repeat="pedido in itensPedido">
                    <td>{{pedido.produto.code}}</td>
                    <td>{{pedido.produto.name}}</td>
                    <td>{{pedido.produto.name}}</td>
                    <td>{{pedido.grade}}</td>
                    <td>{{pedido.tamanho}}</td>
                    <td>{{pedido.value}}</td>
                    <td>{{pedido.produto.data}}</td>
                    <td>R$ {{pedido.produto.valor}}</td>
                    <td class="bold">R$ {{pedido.produto.valor * pedido.value}}</td>
                </tr>
            </tbody>
        </table>
        <!-- 
        <span ng-repeat="pedido in itensPedido" class="pedidoItem">

			{{pedido.produto.code}} {{pedido.produto.valor}} {{pedido.tamanho}} {{pedido.value}}

        </span>
        <span ng-repeat="item in itensPedido" class="pedidoItem">
        	        <span>Cod: {{item.code}}</span>
        	        
        	    	<span class="desc" ng-repeat="(key, value) in item" ng-if="key != 'code' && key != 'total'">Cor: {{key}}
        	        							<span class="tamanhos" ng-repeat="(key2, value2) in value">( tam:{{key2}}: {{value2.value}} )</span>
        	        </span>
        	    
        
        		
        
        	        <span class="total">
        		        Total: {{item.total}}
        	        </span>
        </span> -->
    </div>
    <div class="actions" ng-show="itensPedido.length">
        <button type="button" class="btn btn-info" ng-click="addItem()"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Cotação</button>
        <button type="button" class="btn btn-success" ng-click="addItem()"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Pedido</button>
    </div>
</panel>
